{% extends 'store_app/base.html' %}

{% block title %}Список Категорий{% endblock %}

{% block content %}
        <h1>Список Категорий</h1>
        <ul class="list-group">
            {% for category in categorys %}
            <li class="list-group-item">
                <a href="{% url 'category_products' category.pk %}"><h5>{{ category.name }}</h5></a>
                <p>{{ category.description }}></p>
            </li>
            <small>Количество товаров по категории: {{ category.product.count }}</small>
            {% empty %}
                 <li class="list-group-item">Нет категорий</li>
            {% endfor %}

        </ul>
{% endblock %}