{% extends 'store_app/base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}
        <h1>Список Товаров</h1>
        <ul class="list-group">
            {% for product in products %}
            <li class="list-group-item">
                <a href="{% url 'post_detail' product.pk %}"><h5>{{ product.name }}</h5></a>
                <p>{{ product.description }}></p>
                <small>Категория {{ product.category.name }}</small>
                <small>| Цена {{ product.price }}</small>
            </li>
            {% empty %}
                 <li class="list-group-item">Нет товаров</li>
            {% endfor %}

        </ul>
{% endblock %}